<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SilverBox</key>
	<dict>
		<key>Background</key>
		<string>Background.png</string>
		<key>Cols</key>
		<integer>4</integer>
		<key>Keys</key>
		<dict>
			<key>#</key>
			<dict>
				<key>DefaultImage</key>
				<string>#.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>941</integer>
				<key>Osc2</key>
				<integer>1477</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>171</integer>
				<key>Ypos</key>
				<integer>337</integer>
			</dict>
			<key>*</key>
			<dict>
				<key>DefaultImage</key>
				<string>_.png</string>
				<key>Duration</key>
				<integer>100</integer>
				<key>Osc1</key>
				<integer>941</integer>
				<key>Osc2</key>
				<integer>1209</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>5</integer>
				<key>Ypos</key>
				<integer>340</integer>
			</dict>
			<key>0</key>
			<dict>
				<key>DefaultImage</key>
				<string>0.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>941</integer>
				<key>Osc2</key>
				<integer>1336</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>88</integer>
				<key>Ypos</key>
				<integer>335</integer>
			</dict>
			<key>1</key>
			<dict>
				<key>DefaultImage</key>
				<string>1.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>697</integer>
				<key>Osc2</key>
				<integer>1209</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>2</integer>
				<key>Ypos</key>
				<integer>93</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>DefaultImage</key>
				<string>2.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>697</integer>
				<key>Osc2</key>
				<integer>1336</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>84</integer>
				<key>Ypos</key>
				<integer>92</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>DefaultImage</key>
				<string>3.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>697</integer>
				<key>Osc2</key>
				<integer>1477</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>165</integer>
				<key>Ypos</key>
				<integer>93</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>DefaultImage</key>
				<string>4.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>770</integer>
				<key>Osc2</key>
				<integer>1209</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>3</integer>
				<key>Ypos</key>
				<integer>171</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>DefaultImage</key>
				<string>5.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>770</integer>
				<key>Osc2</key>
				<integer>1336</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>84</integer>
				<key>Ypos</key>
				<integer>173</integer>
			</dict>
			<key>6</key>
			<dict>
				<key>DefaultImage</key>
				<string>6.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>770</integer>
				<key>Osc2</key>
				<integer>1477</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>167</integer>
				<key>Ypos</key>
				<integer>175</integer>
			</dict>
			<key>7</key>
			<dict>
				<key>DefaultImage</key>
				<string>7.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>852</integer>
				<key>Osc2</key>
				<integer>1209</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>3</integer>
				<key>Ypos</key>
				<integer>255</integer>
			</dict>
			<key>8</key>
			<dict>
				<key>DefaultImage</key>
				<string>8.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>852</integer>
				<key>Osc2</key>
				<integer>1336</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>88</integer>
				<key>Ypos</key>
				<integer>254</integer>
			</dict>
			<key>9</key>
			<dict>
				<key>DefaultImage</key>
				<string>9.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>852</integer>
				<key>Osc2</key>
				<integer>1477</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>171</integer>
				<key>Ypos</key>
				<integer>260</integer>
			</dict>
			<key>A</key>
			<dict>
				<key>DefaultImage</key>
				<string>A.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>697</integer>
				<key>Osc2</key>
				<integer>1633</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>248</integer>
				<key>Ypos</key>
				<integer>96</integer>
			</dict>
			<key>B</key>
			<dict>
				<key>DefaultImage</key>
				<string>B.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>770</integer>
				<key>Osc2</key>
				<integer>1633</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>248</integer>
				<key>Ypos</key>
				<integer>173</integer>
			</dict>
			<key>C</key>
			<dict>
				<key>DefaultImage</key>
				<string>C.png</string>
				<key>Duration</key>
				<integer>100</integer>
				<key>Osc1</key>
				<integer>852</integer>
				<key>Osc2</key>
				<integer>1633</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>249</integer>
				<key>Ypos</key>
				<integer>256</integer>
			</dict>
			<key>D</key>
			<dict>
				<key>DefaultImage</key>
				<string>D.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>941</integer>
				<key>Osc2</key>
				<integer>1633</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>251</integer>
				<key>Ypos</key>
				<integer>337</integer>
			</dict>
		</dict>
		<key>Name</key>
		<string>SilverBox</string>
		<key>PauseDuration</key>
		<integer>60</integer>
		<key>Rows</key>
		<integer>4</integer>
	</dict>
	<key>WozBox</key>
	<dict>
		<key>Background</key>
		<string>Background.png</string>
		<key>Cols</key>
		<integer>4</integer>
		<key>Keys</key>
		<dict>
			<key>#</key>
			<dict>
				<key>DefaultImage</key>
				<string>#.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>1500</integer>
				<key>Osc2</key>
				<integer>1700</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>172</integer>
				<key>Ypos</key>
				<integer>337</integer>
			</dict>
			<key>*</key>
			<dict>
				<key>DefaultImage</key>
				<string>_.png</string>
				<key>Duration</key>
				<integer>100</integer>
				<key>Osc1</key>
				<integer>1100</integer>
				<key>Osc2</key>
				<integer>1700</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>5</integer>
				<key>Ypos</key>
				<integer>340</integer>
			</dict>
			<key>0</key>
			<dict>
				<key>DefaultImage</key>
				<string>0.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>1300</integer>
				<key>Osc2</key>
				<integer>1500</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>88</integer>
				<key>Ypos</key>
				<integer>335</integer>
			</dict>
			<key>1</key>
			<dict>
				<key>DefaultImage</key>
				<string>1.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>700</integer>
				<key>Osc2</key>
				<integer>900</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>2</integer>
				<key>Ypos</key>
				<integer>93</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>DefaultImage</key>
				<string>2.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>700</integer>
				<key>Osc2</key>
				<integer>1100</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>84</integer>
				<key>Ypos</key>
				<integer>92</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>DefaultImage</key>
				<string>3.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>900</integer>
				<key>Osc2</key>
				<integer>1100</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>165</integer>
				<key>Ypos</key>
				<integer>93</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>DefaultImage</key>
				<string>4.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>700</integer>
				<key>Osc2</key>
				<integer>1300</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>3</integer>
				<key>Ypos</key>
				<integer>171</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>DefaultImage</key>
				<string>5.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>900</integer>
				<key>Osc2</key>
				<integer>1300</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>84</integer>
				<key>Ypos</key>
				<integer>173</integer>
			</dict>
			<key>6</key>
			<dict>
				<key>DefaultImage</key>
				<string>6.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>1100</integer>
				<key>Osc2</key>
				<integer>1300</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>167</integer>
				<key>Ypos</key>
				<integer>175</integer>
			</dict>
			<key>7</key>
			<dict>
				<key>DefaultImage</key>
				<string>7.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>700</integer>
				<key>Osc2</key>
				<integer>1500</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>3</integer>
				<key>Ypos</key>
				<integer>255</integer>
			</dict>
			<key>8</key>
			<dict>
				<key>DefaultImage</key>
				<string>8.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>900</integer>
				<key>Osc2</key>
				<integer>1500</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>88</integer>
				<key>Ypos</key>
				<integer>254</integer>
			</dict>
			<key>9</key>
			<dict>
				<key>DefaultImage</key>
				<string>9.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>1100</integer>
				<key>Osc2</key>
				<integer>1500</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>171</integer>
				<key>Ypos</key>
				<integer>260</integer>
			</dict>
			<key>Blank1</key>
			<dict>
				<key>DefaultImage</key>
				<string>Blank.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>900</integer>
				<key>Osc2</key>
				<integer>1700</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>248</integer>
				<key>Ypos</key>
				<integer>173</integer>
			</dict>
			<key>Blank2</key>
			<dict>
				<key>DefaultImage</key>
				<string>Blank.png</string>
				<key>Duration</key>
				<integer>100</integer>
				<key>Osc1</key>
				<integer>2100</integer>
				<key>Osc2</key>
				<integer>1700</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>249</integer>
				<key>Ypos</key>
				<integer>256</integer>
			</dict>
			<key>Clear</key>
			<dict>
				<key>DefaultImage</key>
				<string>Clear.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>700</integer>
				<key>Osc2</key>
				<integer>1700</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>248</integer>
				<key>Ypos</key>
				<integer>96</integer>
			</dict>
			<key>Send</key>
			<dict>
				<key>DefaultImage</key>
				<string>Send.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>2600</integer>
				<key>Osc2</key>
				<integer>3700</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>251</integer>
				<key>Ypos</key>
				<integer>337</integer>
			</dict>
		</dict>
		<key>Name</key>
		<string>WozBox</string>
		<key>PauseDuration</key>
		<integer>60</integer>
		<key>Rows</key>
		<integer>4</integer>
	</dict>
	<key>RedBox</key>
	<dict>
		<key>Background</key>
		<string>Background.png</string>
		<key>Cols</key>
		<integer>4</integer>
		<key>Keys</key>
		<dict>
			<key>5</key>
			<dict>
				<key>DefaultImage</key>
				<string>US/5.png</string>
				<key>Duration</key>
				<integer>66</integer>
				<key>Osc1</key>
				<integer>1700</integer>
				<key>Osc2</key>
				<integer>2200</integer>
				<key>PressedImage</key>
				<string>US/5_down.png</string>
				<key>Xpos</key>
				<integer>0</integer>
				<key>Ypos</key>
				<integer>100</integer>
			</dict>
			<key>10</key>
			<dict>
				<key>DefaultImage</key>
				<string>US/10.png</string>
				<key>Duration</key>
				<integer>66</integer>
				<key>Osc1</key>
				<integer>1700</integer>
				<key>Osc2</key>
				<integer>2200</integer>
				<key>PressedImage</key>
				<string>US/10_down.png</string>
				<key>Xpos</key>
				<integer>160</integer>
				<key>Ypos</key>
				<integer>100</integer>
			</dict>
			<key>25</key>
			<dict>
				<key>DefaultImage</key>
				<string>US/25.png</string>
				<key>Duration</key>
				<integer>33</integer>
				<key>Osc1</key>
				<integer>1700</integer>
				<key>Osc2</key>
				<integer>2200</integer>
				<key>PressedImage</key>
				<string>US/25_down.png</string>
				<key>Xpos</key>
				<integer>0</integer>
				<key>Ypos</key>
				<integer>250</integer>
			</dict>
			<key>100</key>
			<dict>
				<key>DefaultImage</key>
				<string>US/100.png</string>
				<key>Duration</key>
				<integer>33</integer>
				<key>Osc1</key>
				<integer>1700</integer>
				<key>Osc2</key>
				<integer>2200</integer>
				<key>PressedImage</key>
				<string>US/100_down.png</string>
				<key>Xpos</key>
				<integer>160</integer>
				<key>Ypos</key>
				<integer>250</integer>
			</dict>
		</dict>
		<key>Name</key>
		<string>RedBox</string>
		<key>PauseDuration</key>
		<integer>33</integer>
		<key>Rows</key>
		<integer>4</integer>
	</dict>
	<key>GreenBox</key>
	<dict>
		<key>Background</key>
		<string>Background.png</string>
		<key>Cols</key>
		<integer>4</integer>
		<key>Keys</key>
		<dict>
			<key>CoinCollect</key>
			<dict>
				<key>DefaultImage</key>
				<string>CoinCollect.png</string>
				<key>Duration</key>
				<integer>1000</integer>
				<key>Osc1</key>
				<integer>700</integer>
				<key>Osc2</key>
				<integer>1100</integer>
				<key>PressedImage</key>
				<string>CoinCollect_Down.png</string>
				<key>Xpos</key>
				<integer>0</integer>
				<key>Ypos</key>
				<integer>86</integer>
			</dict>
			<key>CoinReturn</key>
			<dict>
				<key>DefaultImage</key>
				<string>CoinReturn.png</string>
				<key>Duration</key>
				<integer>1000</integer>
				<key>Osc1</key>
				<integer>1100</integer>
				<key>Osc2</key>
				<integer>1700</integer>
				<key>PressedImage</key>
				<string>CoinReturn_Down.png</string>
				<key>Xpos</key>
				<integer>0</integer>
				<key>Ypos</key>
				<integer>163</integer>
			</dict>
			<key>RingBack</key>
			<dict>
				<key>DefaultImage</key>
				<string>RingBack.png</string>
				<key>Duration</key>
				<integer>1000</integer>
				<key>Osc1</key>
				<integer>700</integer>
				<key>Osc2</key>
				<integer>1700</integer>
				<key>PressedImage</key>
				<string>RingBack_Down.png</string>
				<key>Xpos</key>
				<integer>0</integer>
				<key>Ypos</key>
				<integer>242</integer>
			</dict>
			<key>Wink</key>
			<dict>
				<key>DefaultImage</key>
				<string>Wink.png</string>
				<key>Duration</key>
				<integer>90</integer>
				<key>Osc1</key>
				<integer>2600</integer>
				<key>Osc2</key>
				<integer>3700</integer>
				<key>PressedImage</key>
				<string>Wink_Down.png</string>
				<key>Xpos</key>
				<integer>0</integer>
				<key>Ypos</key>
				<integer>322</integer>
			</dict>
			<key>Mf8</key>
			<dict>
				<key>DefaultImage</key>
				<string>MF8.png</string>
				<key>Duration</key>
				<integer>90</integer>
				<key>Osc1</key>
				<integer>900</integer>
				<key>Osc2</key>
				<integer>1500</integer>
				<key>PressedImage</key>
				<string>MF8_Down.png</string>
				<key>Xpos</key>
				<integer>160</integer>
				<key>Ypos</key>
				<integer>323</integer>
			</dict>
		</dict>
		<key>Name</key>
		<string>GreenBox</string>
		<key>PauseDuration</key>
		<integer>60</integer>
		<key>Rows</key>
		<integer>4</integer>
	</dict>
</dict>
</plist>
