<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WozBox</key>
	<dict>
		<key>Background</key>
		<string>Background.png</string>
		<key>Cols</key>
		<integer>4</integer>
		<key>PauseDuration</key>
		<integer>60</integer>
		<key>Keys</key>
		<dict>
			<key>#</key>
			<dict>
				<key>DefaultImage</key>
				<string>#.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>1500</integer>
				<key>Osc2</key>
				<integer>1700</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>177</integer>
				<key>Ypos</key>
				<integer>389</integer>
			</dict>
			<key>*</key>
			<dict>
				<key>DefaultImage</key>
				<string>_.png</string>
				<key>Duration</key>
				<integer>100</integer>
				<key>Osc1</key>
				<integer>1100</integer>
				<key>Osc2</key>
				<integer>1700</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>3</integer>
				<key>Ypos</key>
				<integer>390</integer>
			</dict>
			<key>0</key>
			<dict>
				<key>DefaultImage</key>
				<string>0.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>1300</integer>
				<key>Osc2</key>
				<integer>1500</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>88</integer>
				<key>Ypos</key>
				<integer>383</integer>
			</dict>
			<key>1</key>
			<dict>
				<key>DefaultImage</key>
				<string>1.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>700</integer>
				<key>Osc2</key>
				<integer>900</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>3</integer>
				<key>Ypos</key>
				<integer>140</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>DefaultImage</key>
				<string>2.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>700</integer>
				<key>Osc2</key>
				<integer>1100</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>85</integer>
				<key>Ypos</key>
				<integer>140</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>DefaultImage</key>
				<string>3.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>900</integer>
				<key>Osc2</key>
				<integer>1100</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>165</integer>
				<key>Ypos</key>
				<integer>140</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>DefaultImage</key>
				<string>4.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>700</integer>
				<key>Osc2</key>
				<integer>1300</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>3</integer>
				<key>Ypos</key>
				<integer>220</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>DefaultImage</key>
				<string>5.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>900</integer>
				<key>Osc2</key>
				<integer>1300</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>85</integer>
				<key>Ypos</key>
				<integer>220</integer>
			</dict>
			<key>6</key>
			<dict>
				<key>DefaultImage</key>
				<string>6.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>1100</integer>
				<key>Osc2</key>
				<integer>1300</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>170</integer>
				<key>Ypos</key>
				<integer>228</integer>
			</dict>
			<key>7</key>
			<dict>
				<key>DefaultImage</key>
				<string>7.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>700</integer>
				<key>Osc2</key>
				<integer>1500</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>3</integer>
				<key>Ypos</key>
				<integer>305</integer>
			</dict>
			<key>8</key>
			<dict>
				<key>DefaultImage</key>
				<string>8.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>900</integer>
				<key>Osc2</key>
				<integer>1500</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>85</integer>
				<key>Ypos</key>
				<integer>300</integer>
			</dict>
			<key>9</key>
			<dict>
				<key>DefaultImage</key>
				<string>9.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>1100</integer>
				<key>Osc2</key>
				<integer>1500</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>173</integer>
				<key>Ypos</key>
				<integer>310</integer>
			</dict>
			<key>Blank1</key>
			<dict>
				<key>DefaultImage</key>
				<string>Blank.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>900</integer>
				<key>Osc2</key>
				<integer>1700</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>250</integer>
				<key>Ypos</key>
				<integer>220</integer>
			</dict>
			<key>Blank2</key>
			<dict>
				<key>DefaultImage</key>
				<string>Blank.png</string>
				<key>Duration</key>
				<integer>100</integer>
				<key>Osc1</key>
				<integer>2100</integer>
				<key>Osc2</key>
				<integer>1700</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>250</integer>
				<key>Ypos</key>
				<integer>310</integer>
			</dict>
			<key>Clear</key>
			<dict>
				<key>DefaultImage</key>
				<string>Clear.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>700</integer>
				<key>Osc2</key>
				<integer>1700</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>250</integer>
				<key>Ypos</key>
				<integer>140</integer>
			</dict>
			<key>Send</key>
			<dict>
				<key>DefaultImage</key>
				<string>Send.png</string>
				<key>Duration</key>
				<integer>60</integer>
				<key>Osc1</key>
				<integer>2600</integer>
				<key>Osc2</key>
				<integer>3700</integer>
				<key>PressedImage</key>
				<string>Blank.png</string>
				<key>Xpos</key>
				<integer>250</integer>
				<key>Ypos</key>
				<integer>385</integer>
			</dict>
		</dict>
		<key>Name</key>
		<string>WozBox</string>
		<key>Rows</key>
		<integer>4</integer>
	</dict>
</dict>
</plist>
